// adapted from https://github.com/davidtheclark/scut/blob/master/src/functions/_strip-unit.scss
@function stripUnit ($num) {
    @return $num / ($num * 0 + 1);
}

// adapted from https://github.com/davidtheclark/scut/blob/master/src/functions/_em.scss
$emBase: 16 !default;
@function calcEm ($pixels, $base: $emBase) {
    // $base could be in em or px (no unit = px).
    // Adjust accordingly to create a $divisor that
    // serves as context for $pixels.
    $multiplier: if(unit($base) == em, 16, 1);
    $divisor: stripUnit($base) * $multiplier;

    $em-vals: ();
    @each $val in $pixels {
        $val-in-ems: (stripUnit($val) / $divisor) * 1em;
        $em-vals: append($em-vals, $val-in-ems);
    }

    @if length($em-vals) == 1 {
        // return a single value instead of a list,
        // so it can be used in calculations
        @return nth($em-vals, 1);
    }
    @else {
        @return $em-vals;
    }

}

@function blockUnit($multiplier: 1, $context: $type-base-fontSize, $offset: 0) {
    @return if($multiplier == 0, 0, calcEm($blockUnit * $multiplier + $offset, $context));
}
